.containerProjects {
  margin-top: 20rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerProjects > h2{
  color: rgb(0, 0, 93);
  font-size: 2rem;


  margin-bottom: 7rem;
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 10px;
  row-gap: 60px;
  width: 75%;
  justify-items: center; 
  align-items: center; 
}

