.containerProjects {
  margin-top: 20rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerProjects > h2{
  color: rgb(0, 0, 93);
  font-size: 2rem;


  margin-bottom: 7rem;
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 10px;
  row-gap: 60px;
  width: 75%;
  justify-items: center; 
  align-items: center; 
}



@media screen and (max-width: 1160px) {
  .containerProjects {
    margin-top: 10rem; /* Ajuste a margem superior para telas menores */
  }

  .containerProjects > h2 {
    font-size: 1.5rem; /* Reduza o tamanho da fonte para telas menores */
    margin-bottom: 4rem; /* Ajuste a margem inferior para telas menores */
  }

  .projects {
    grid-template-columns: repeat(2, 1fr); /* Reduza o número de colunas para telas menores */
    width: 70%; /* Reduza a largura para telas menores */
  }
}
@media screen and (max-width: 880px) {
  

  

  .projects {
    grid-template-columns: repeat(1, 1fr); /* Reduza o número de colunas para telas menores */
    width: 100%; /* Reduza a largura para telas menores */
  }
}