.containerProjects {
  margin-top: 20rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

.containerProjects > h2{
  color: rgb(0, 0, 93);
  font-size: 2rem;

  margin-bottom: 7rem;
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px; 
  
  justify-items: center; 
  align-items: center; 
}

