.info {
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.userName {
  display: inline;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.boxAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 100%;
  background: linear-gradient(45deg, blue, purple);
}
.avatar {
  width: 15rem;
  border-radius: 100%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.aboutMe h2 {
  margin-top: 20rem;
  color: rgb(0, 0, 93);
  font-size: 2rem;
}
.photoAbout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  width: 100%;
  /* max-height: 400px; */
  grid-gap: 1rem;
  gap: 1rem;
}

.myPhoto {
  width: 300px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.03rem;
}


@media screen and (max-width: 980px) {
  .info {
    margin-top: 12rem; 
    flex-direction: column;
    text-align: center; 
    font-size: 1rem; 
  }

  .userName {
    font-size: 1.5rem; 
  }

  .boxAvatar {
    width: 10.2rem; 
    height: 10.2rem;
    margin-top: 3rem;
  }

  .avatar {
    width: 10rem; 
  }

  .aboutMe {
    margin-top: 15rem; 
  }

  .aboutMe h2 {
    font-size: 1.5rem; 
  }

  .myPhoto {
    width: 200px; 
    display: none;
  }

  .about {
    font-size: 1rem; 
  }

  .photoAbout {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

@media screen and (max-width: 660px) {
  .info {
    margin-top: 5rem;
  }
  .aboutMe h2 {
    margin-top: 0;
  }

  .aboutMe{
    margin-top: 10;
  }

  .boxAvatar {
    width: 10rem; 
    height: 10rem;
    margin-top: 3rem;
  }

  .avatar {
    width: 9.6rem; 
  }
}