.info {
  margin-top: 20rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.userName {
  display: inline;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.boxAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 100%;
  background: linear-gradient(45deg, blue, purple);
}
.avatar {
  width: 15rem;
  border-radius: 100%;
}

.aboutMe {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.aboutMe h2 {
  color: rgb(0, 0, 93);
  font-size: 2rem;
}
.photoAbout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  width: 100%;
  max-height: 400px;
  grid-gap: 1rem;
  gap: 1rem;
}

.myPhoto {
  width: 300px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.03rem;
}

/* Adicione media queries para tablets e celulares */
@media screen and (max-width: 980px) {
  .info {
    margin-top: 12rem; /* Ajuste a margem superior para telas menores */
    flex-direction: column; /* Altere a direção da coluna para telas menores */
    height: auto; /* Remova a altura fixa para telas menores */
    text-align: center; /* Centralize o texto para telas menores */
    font-size: 1rem; /* Reduza o tamanho da fonte para telas menores */
  }

  .userName {
    font-size: 1.5rem; /* Reduza o tamanho da fonte para telas menores */
  }

  .boxAvatar {
    width: 10.2rem; /* Reduza o tamanho do contêiner da imagem para telas menores */
    height: 10.2rem;
    margin-top: 3rem;
  }

  .avatar {
    width: 10rem; /* Reduza o tamanho da imagem para telas menores */
  }

  .aboutMe {
    margin-top: 10rem; /* Ajuste a margem superior para telas menores */
  }

  .aboutMe h2 {
    font-size: 1.5rem; /* Reduza o tamanho da fonte para telas menores */
  }

  .myPhoto {
    width: 200px; /* Reduza o tamanho da imagem para telas menores */
    display: none;
  }

  .about {
    font-size: 1rem; /* Reduza o tamanho da fonte para telas menores */
  }

  .photoAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
  }
}
