.info {
  margin-top: 20rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.userName {
  display: inline;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; 
}

.boxAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 100%;
  background:linear-gradient(45deg, blue, purple) ;
}
.avatar {
  width: 15rem;
  border-radius: 100%;
}

.aboutMe {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.aboutMe h2 {
  color: rgb(0, 0, 93);
  font-size: 2rem;
}
.photoAbout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  width: 100%;
  max-height: 400px;
  grid-gap: 1rem;
  gap: 1rem;
}

.myPhoto {
  width: 300px ;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem ;
  font-size: 1.03rem;
}