
.containerTech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.containerTech h2 {
  font-size: 2rem;
}

.techs {
  text-align: center;
  margin-top: 20rem;
  width: 100%;
  color: rgb(0, 0, 93);
}

.gridContainerIcons{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas */
  grid-template-rows: repeat(2, 1fr); /* 2 linhas */
  gap: 10px; /* Espaço entre as imagens */
}

.gridIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.icon {
  width: 70px;
}