.card {
  width: 250px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.cardPhoto {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  
}

.photo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.info {
  background-color: #e0e0e0;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.siteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 57, 57);
  width: 100%;
  height: 100%;

  border: 1px solid black;
  text-decoration: none;
  color: #fff;

  padding: 5px 10px;
  transition: 0.3s ease ;
}
.siteBtn:hover{
  width: 105%;
  height: 105%;
}

.buttons a:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.buttons a:nth-child(2) {
 border-radius: 0px 5px 5px 0px;
}

.icon {
  width: 15px;
}